
<p-toast position="top-center" key="tc"></p-toast>


<div>
  <a routerLink="registerUser">Register</a>
  <a routerLink="verifyUser">Verify Email</a>
  <a routerLink="verify">Verify</a>
  <a routerLink="getPassword">Password</a>
  <a routerLink="login">Login </a>
  <a routerLink="forgotPassword">Forgot Password</a>
  <a routerLink="verifyForgotPass">Verify Forgot Password</a>
  <a routerLink="verifyPassToken">verify Forgot Token</a>
  <a routerLink="resetPassword">Reset Password</a>
  

</div>




<router-outlet></router-outlet>